@page
@model AppSecurityPracticalAssignment210733T.Pages.UpdatePasswordModel
@{
}


<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<h1>Update Password</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<p class="text-center">Use the form below to change your password.</p>
			<form method="post">
				<div asp-validation-summary="All" class="text-danger"></div>
				<input type="password" class="input-lg form-control" asp-for="OldPassword" placeholder="Current Password" autocomplete="off">
				<br />
				<input type="password" class="input-lg form-control" asp-for="Password" placeholder="New Password" autocomplete="off">
				<br/>
				<input type="password" class="input-lg form-control" asp-for="ConfirmPassword"  placeholder="Repeat Password" autocomplete="off">
				<br />
				
				<button type="submit" class="btn btn-primary w-100">Change Password</button>
				<br />
			</form>
		</div><!--/col-sm-6-->
	</div><!--/row-->
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}