@page
@model AppSecurityPracticalAssignment210733T.Pages.errors._403Model
@{
}
<div class="d-flex align-items-center justify-content-center vh-100">
    <div class="text-center">
        <h1 class="display-1 fw-bold">403</h1>
        <p class="fs-3"> <span class="text-danger">Opps!</span> You are not authorized to view this page.</p>
        <p class="lead">
            Please Login or Register an account with us.
        </p>
        <a href="/Login" class="btn btn-primary">Go Login</a>
        <a href="/Register" class="btn btn-secondary">Register</a>
    </div>
</div>